<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Grommash - dev</title>

    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
</head>
<body>


<div>
    <div><img src="{{ url_for('static', path='images/logo.png') }}" alt="greetings image"><div>
    <div><a>Примеры чат-ботов</a></div>
    <div><a>Возможности</a></div>
    <div><a>Контакты</a></div>
    <div></div>
</div>

<div class="greeting_block">
    <h1>Створення чат-ботів у Telegram для бізнесу</h1>
    <a>Створюємо та інтегруємо з обліковими системами</a>
    <div>ПОДАТИ ЗАЯВКУ</div>
    <img src="{{ url_for('static', path='images/greeting_image.png') }}" alt="greetings image">
</div>


</body>
</html>
